body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f9fb;
    color: #333;
}

header {
    background: #60107bcc;
    padding: 32px;
    text-align: center;
    color: rgb(16, 14, 14);
}

nav {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 10px;
}

nav a {
    color: rgb(248, 246, 246);
    text-decoration: none;
    font-size: 18px;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.section {
    margin-bottom: 50px;
    text-align: center;        
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 20px;
    margin: 0 auto;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 300px;
    height:150px;              
    text-align: center;       
}

footer {
    background: #120f0f;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
