body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #d6b1b1;
    color: #333;
}

header {
    background: #222;
    padding: 20px;
    text-align: center;
    color: rgb(182, 164, 164);
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    background: #333;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.section {
    margin-bottom: 50px;
    text-align: center;        
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}

.projects {
    display: grid;
    align-items: center;
    justify-content: center;  
    gap: 20px;
    margin: 0 auto;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 250px;              
    text-align: center;       
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
